{% extends "inicio/base.html" %}

{% load static %}

{% block content %}


    <!-- ======= Works Section ======= -->
    <section class="section site-portfolio">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
            <h2>Contacto</h2>
            <p class="mb-0"></p>
          </div>

          {% include "inicio/menu.html" %}

        </div>

        <!-- fin header -->
        {{ mensaje }}

        
        <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">

          {% if "sent" in request.GET %}
            <p>Gracias!</p>
          {% else %}
            <form action="" method="post">
              {% csrf_token %}
              <table>
              {{ form.as_table }}
              </table>
              <input type="submit" value="Submit">
            </form>
          {% endif %}
        </div>
      </div>
    </section><!-- End  Works Section -->
    {% endblock %}