<!DOCTYPE html>
<html lang="en">

<head>

  {% load static %}

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Bailar las preguntas</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap -->
  <link href="{% static 'inicio/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'inicio/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'inicio/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'inicio/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
   

  <!-- Styles -->
  <link href="{% static 'inicio/css/style.css' %}" rel="stylesheet">
  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=https://fonts.googleapis.com/css?family=Inconsolata:400,500,600,700|Raleway:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

</head>

<body>
<!--
  <div class="collapse navbar-collapse custom-navmenu" id="main-navbar">
    <div class="container py-2 py-md-5">
      <div class="row align-items-start">
        <div class="col-md-2">
          <ul class="custom-menu">
            <li class="active"><a href="{% url 'inicio:Inicio' %}">Inicio</a></li>
            <li><a href="{% url 'bio:Bio' %}">Acerca de mí</a></li>
            <li><a href="works.html">Proyectos</a></li>
            <li><a href="contact.html">Contacto</a></li>
          </ul>
        </div>
        <div class="col-md-6 d-none d-md-block  mr-auto">
          <div class="tweet d-flex">
            <span class="bi bi-twitter text-white mt-2 mr-3"></span>
            <div>
              <p><em>Acá hay fotos, textos, videos y otros materiales sobre algunos proyectos que realicé. <br> </em></p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
-->
  <nav class="navbar navbar-light custom-navbar">
    <div class="container">
      <a class="navbar-brand" href="{% url 'inicio:Inicio' %}">BAILAR LAS PREGUNTAS</a>
      <!--<a href="#" class="burger" data-bs-toggle="collapse" data-bs-target="#main-navbar">-->
        <span></span>
      </a>
    </div>
  </nav>

  <main id="main">

        
   <!-- Contenido cambiante -->

  {% block content %} {% endblock %}


        <!-- footer -->

    </main><!-- End #main -->

 
         <!-- ======= Footer ======= -->
  <footer class="footer" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="credits">
          
        </div>

      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

  <script src="{% static 'inicio/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'inicio/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <script src="{% static 'inicio/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'inicio/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'inicio/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'inicio/js/main.js' %}"></script>
</body>

</html>