{% extends "inicio/base.html" %}

{% load static %}

{% block content %}


    <!-- ======= Works Section ======= -->
    <section class="section site-portfolio">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
            <h2>Bio</h2>
            <p class="mb-0"></p>
          </div>

          {% include "inicio/menu.html" %}

        </div>

        <!-- fin header -->

        <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">
            <p>Soy coreógrafa, bailarina y productora en el campo de las artes escénicas. <br />
            Licenciada en Composición Coreográfica por la Universidad Nacional de las Artes, en el año 2015 
            cursé el Posgrado en Gestión Cultural de la Universidad Nacional de Córdoba. 
            En 2016-2017 fui becada por el Ministerio de Cultura de la Nación para participar del 
            Programa de Formación en Gestión Cultural Pública (Río Negro - Buenos Aires).
            <br /><br />
            Desde el año 2014 formo parte del equipo de Casa de las Artes, Secretaría de Extensión de la 
            Universidad Nacional de Tierra del Fuego, A. e I. A. S., 
            en el área de Producción Artística desarrollando, entre otras, actividades en el campo de las 
            artes escénicas: espacios de formación, encuentros con y entre artistas, presentaciones de obras, etc. 
            <br /><br />
            En 2021 dirigí TURBA - Festival Nacional de Artes Escénicas de Ushuaia, con el apoyo del 
            Instituto Nacional del Teatro, organismos locales y un grupo hermoso de personas que con trabajo y amor lo hicieron posible. En 2022, TURBA participó como Festival
            demandante en el MICA - Mercado de Industrias Culturales de Argentina, y del programa Argentina Florece Danza, presentando una obra de su programación en Tecnópolis (Bs As).
            <br /><br />
            Desde el año 2015 y hasta hoy, trabajo en la generación de espacios de formación en Ushuaia y Río Grande, en el ámbito de la danza y el teatro,
            con apoyo del Fondo Nacional de las Artes, el Instituto Nacional del Teatro, la Municipalidad de Ushuaia, entre otros. Algunxs de lxs
            artistas y docentes involucradxs en estas experiencias fueron Luis Biasotto, Carlos Osatinsky, Fernando Pellicioli,
            Lautaro Vilo, Victoria Keriluk, Gastón Exequiel Sánchez, Yamila Guillermo, Yamina Leiva, Macarena Higueras, entre otrxs. 
            <br /><br />
                     
            Como creadora, participo desde 2020 de un grupo de investigación en danza, junto con Yamina Leiva y Macarena Higueras.
            Estrené "Paralaje - una conferencia escénica" (Ushuaia) y "Nos faltará siempre yo" (Bs As), con 
            apoyo del Fondo Argentino de Desarrollo Cultural y Creativo y del Instituto Nacional del Teatro. 
            <br /><br />
            Como docente, desde el año 2012 dicto clases de danza clásica, danza contemporánea e investigación del movimiento, orientadas a niñxs y adultxs, 
            en la Universidad Nacional de Tierra del Fuego, en Chic! Academia, y en espacios independientes de la ciudad.</p>
              <p></p><br /><br /><br /><br /><br />
        </div>
      </div>
    </section><!-- End  Works Section -->
    {% endblock %}